<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <ini name="date.timezome" value="Europe/Madrid"/>
    </php>
    <testsuites>
        <testsuite name="BirthdayKata">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
